---
console.log("Hola Lectores del Blog")
---

<div class="container-fluid">
  <ul class="container m-auto">
    <li>
      <a href="/blog">
        <span>Blog</span>
      </a>
    </li>
    <li>
      <span>Css es un lenguaje de programacion</span>
    </li>
  </ul>
</div>

<style lang="scss">
  @import "../styles/main.scss";

  .container-fluid {
    box-shadow: 0px 0px 10px rgba(255,255,255,.25);

    ul {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 2rem 0;

      li {
        padding-right: 2rem;
        position: relative;

        &:not(:last-child)::before {
          content: "/";
          position: absolute;
          top: 50%;
          right: calc(1rem - 5px);
          transform: translateY(-50%);
          color: $tertiary-color;
        }
      }

      li a span,
      li span {
        font-size: 1rem;
        text-transform: uppercase;
      }

      li:first-child {
        a span {
          color: $primary-color;
        }
      }
    }
  }
</style>