---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Acerca de">
  <p class="">Hola Mundo, <span>me esta <strong>gustando</strong> mucho</span> Astro</p>
</Layout>

<style lang="scss">
  @import "../styles/main.scss";
  p {
    margin: 0;
    padding: 0;
  }
</style>