---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Home'>
	<div>
		<i class="fas fa-gamepad"></i> &nbsp; Juegos
	</div>
</Layout>

<style lang="scss">
	div {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: auto;
		min-height: 100vh;
	}
</style>


