---
// Fonts
import "@fontsource/poppins"; // Defaults to weight 400
import "@fontsource/poppins/400.css"; // Specify weight
import "@fontsource/poppins/400-italic.css"; // Specify weight and style

// Styles
import "../styles/global.css"

// Components
import Header     from "../components/Header.astro";
import Jumbotron  from "../components/Jumbotron.astro";
import Breadcrumb from "../components/Breadcrumb.astro";
import Sidebar    from "../components/Sidebar.astro";
import Footer     from "../components/Footer.astro";

// Props
export interface Props { title: string; }
const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
    <Jumbotron />
    <Breadcrumb />
		<main>
      <section>
        <article>
          <slot />
        </article>
        <aside>
          <Sidebar />
        </aside>
      </section>
		</main>
		<Footer />
	</body>
</html>

<style lang="scss">
  @import "../styles/main.scss";

	*, body, html {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		color-scheme: dark light;
		font-family: "Poppins";
	}

  main {
    width: 90%;
    max-width: 96rem;
    margin: 2rem auto;

    section {
      display: flex;
      justify-content: space-between;
      @extend .container-stretch;

      article {
        width: auto;
        max-width: 60%;
        gap: 10px;
      }

      aside {
        width: 40%;
        gap: 10px;
        text-align: right;
      }
    }
  }
</style>
